<!doctype html>
<html><head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/styleAdminDonHang.css" />
    <link rel="stylesheet" href="/stylesheets/styleAdminIndex.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script language="javascript" src="/javascripts/spAdmin.js"></script>
    <title>Admin</title>
</head>

<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <%include ../menu.ejs%>
        </div>
        <div class="col-9">
            <div class="row">
                <div class="col-10"></div>
                <div class="col-2">
                    <%include ../NguoiDungmenu.ejs%>
                </div>
            </div>
            <form class="form-header-dh">
                <span class="custom-span">Đơn hàng</span>
                <div class="search-spAdmin">
                    <span>Tìm kiếm</span>
                    <input type="text">
                </div>
            </form>

            <form class="form-content-dh" style="height: 700px">
                <table class="table" style="height: 500px;background-color: #d4d4d4">
                    <thead>
                    <tr style="background-color: #888888;height: 60px">
                        <th scope="col" width="15%;" style="color: black">Mã đơn hàng</th>
                        <th scope="col" width="20%;"style="color: black">Tên khách hàng</th>
                        <th scope="col" width="20%;"style="color: black">Ngày đặt hàng</th>
                        <th scope="col" width="15%"style="color: black">Thanh toán</th>
                        <th scope="col" width="15%"style="color: black">Trạng thái</th>
                    </tr>
                    </thead>
                    <tbody style="background-color: #d4d4d4">
                        <%let i=0;
                        for(i;i<data.listbill.length;i++){%>
                        <tr >
                            <th scope="row"><%=data.listbill[i].id%></th>
                            <td><%=data.listbill[i].tenkhachhang%></td>
                            <td><%=data.listbill[i].ngaydathang%></td>
                            <td><%=data.listbill[i].thanhtoan%></td>
                            <td><%=data.listbill[i].trangthai%></td>

                        </tr>
                        <%}%>
                    </tbody>
                </table>
                <button style="margin-left: 5px"type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"> Sửa trạng thái đơn hàng <img src="/images/edit.png" height="15px" width="15px"></button>

            </form>
<!--Modal-->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">

                    <div class="modal-content">
                        <div class="modal-header">
                            <h6 class="modal-title" id="exampleModalLabel">Sửa trạng thái đơn hàng</h6>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form class="form-Modal" id="form-ModalPost" action="/DonHang" method="POST">
                                <div class="form-group">
                                    <div>
                                        <span style="color: #00BFFF">Mã ĐH :</span>
                                        <input style="border: black 1px solid;margin-left: 58px" type="text" name="maDH" placeholder="" width="100"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div>
                                        <span style="color: #00BFFF">Trạng thái ĐH :</span>
                                        <input style="border: black 1px solid;margin-left: 10px" type="text" name="trangthaiDH" placeholder="" width="100"/>
                                    </div>
                                    <!--<input type="submit" onclick="form_submit()">-->
                                </div>
                                <hr>
                                <input type="submit" value="Lưu" style="background-color: #25AEE4; color: white;margin-left: 200px;margin-top: 20px;width: 100px;border: green 1px solid">

                            </form>
                        </div>
                        <div class="modal-footer">
                            <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Thoát</button>-->

                        </div>
                    </div>

                </div>
            </div>


        </div>
    </div>
</div>
</body>
</html>
